<div class="container" style="margin: 20px">
    <div class="row">
      <div class="col-sm-3 col-md-3"></div>
      <div class="col-sm-6 col-md-6">
        <div class="alert alert-success" *ngIf='isCreatUser'>
              You have register successfully
        </div>
    <form class="form-horizontal" [formGroup]="form" >
      <fieldset>
        <div id="legend">
          <legend class="">Register</legend>
        </div>
        <div class="control-group">
          <!-- Username -->
          <label class="control-label"  for="username">Username</label>
          <div class="controls">
            <input type="text" [(ngModel)]="username" formControlName="username" placeholder="" class="form-control input-xlarge">
            <div class="red" *ngIf="(form.get('username').hasError('required') && isSubmit)">
             <span class="alert alert-dismissible alert-danger"> username is required </span>
            </div>
          </div>
        </div>
     
        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email">E-mail</label>
          <div class="controls">
            <input type="email" [(ngModel)]="email" formControlName="email" name="email" placeholder="" class="form-control input-xlarge">
            <div class="red" *ngIf="(form.get('email').hasError('required') && isSubmit)">
                <span class="alert alert-dismissible alert-danger">email is required </span>
            </div>
            <div class="red" *ngIf="(!form.get('email').hasError('required') && form.get('email').hasError('email') && isSubmit)">
               <span class="alert alert-dismissible alert-danger">email is invalid</span>
            </div>
          </div>
        </div>
     
        <div class="control-group">
          <!-- Password-->
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" [(ngModel)]="password" formControlName="password" placeholder="" class="form-control input-xlarge">
            <div class="red" *ngIf="(form.get('password').hasError('required') && isSubmit)"> 
              <span class="alert alert-dismissible alert-danger">password is required </span>
           </div>
           </div>
        </div>
     
        <div class="control-group">
          <!-- Password -->
          <label class="control-label"  for="password_confirm"> Confirm password</label>
          <div class="controls">
            <input type="password" [(ngModel)]="password_confirm" formControlName="password_confirm" placeholder="" class="form-control input-xlarge">
            <div class="red" *ngIf="(form.get('password_confirm').hasError('required') && isSubmit)">
               <span class="alert alert-dismissible alert-danger"> confirm password is required </span>
            </div>
             <div class="red" *ngIf="(!form.get('password_confirm').hasError('required') && isSubmit && form.controls.password_confirm.errors?.MatchPassword)">
                <span class="alert alert-dismissible alert-danger">confirm password does not match with password </span>
              </div>
          </div>
        </div>
     
        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success" (click)='register(form);'>Register</button>
             <span style="margin-left: 10px;"> <button class="btn btn-primary" routerLink="/login">Login</button> </span>
          </div>
  
        </div>
      </fieldset>
    </form>
      </div>
          <div class="col-sm-3 col-md-3"></div>
    </div>
  </div>