<div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-8 col-md-8" style="margin-top:5%">
          <table class="table table-hover">
            <thead>
              <tr class="table-active">
                <th scope="col">S.no</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of allUsers; let i = index" [class]="(i%2 == 0) ? 'table-warning' : 'table-success'">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ user.payload.doc.data().username }}</td>
                <td>{{ user.payload.doc.data().email }}</td>
                <td> 
                  <span class="btn-space"><button type="button" class="btn btn-primary" (click)="editUserData(user.payload.doc.id,i)">Edit</button></span>
                  <span class="btn-space"><button type="button" class="btn btn-danger" (click)="deleteUser(user.payload.doc.id)">Delete</button> </span>
                </td>
              </tr>
            
            </tbody>
          </table> 
      </div>
      <div class="col-sm-2 col-md-2"></div> 
    </div>
  </div>